/* Import Font Dancing Script */
@import url('https://fonts.googleapis.com/css?family=PlusJakartaSans');

* {
    margin: 0;
}

.loader {
    background-color: #2a2a2a;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 222222;
  }
  
  .loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .loader svg path,
  .loader svg rect {
    fill: cornflowerblue;
  }
  

body {
    background-color: #e8f5ff;
    font-family: 'Plus Jakarta Sans', medium;
    overflow: hidden;
}

/* Sidenav */
.sidenav {
    background-color: #fff;
    color: #333;
    border-bottom-right-radius: 25px;
    height: 86%;
    left: 0;
    overflow-x: hidden;
    padding-top: 190px;
    position: absolute;
    top: 0px;
    width: 250px;
    box-shadow: 0px 5px 5px 0px grey;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
    margin-bottom: 50;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.profile1 img {
    border-radius: 0%;
    box-shadow: 0px 0px 0px 0px;
    margin-top: 50;
    margin-bottom: 50;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}

/* End */

/* NavbarTop */
.navbar-top {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 8px 0px grey;
    height: 100px;
}

.navbar img {
    max-width: 100%;
    height: auto;
    float: left;
}

.navbar-top ul {
    float: center;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 30px 50px 30px 40px;
}

.navbar-top ul li {
    float: right;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: left;
    font-weight: bold;
}

.icon-count {
    background-color: #518de6;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

/* Main */
.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main h2 {
    color: #333;
    font-family: 'Plus Jakarta Sans', black;
    letter-spacing: px;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

/* End */